/* i really want this to be global */

/*

Full unicode-range
unicode-range: U+0-10FFFF; 

All CJK unicode-range
unicode-range: U+3400-4DB5, U+4E00-9FA5, U+9FA6-9FBB, U+F900-FA2D, U+FA30-FA6A, U+FA70-FAD9, U+20000-2A6D6, U+2F800-2FA1D, U+FF00-FFEF, U+2E80-2EFF, U+3000-303F, U+31C0-31EF, U+2F00-2FDF, U+2FF0-2FFF, U+3100-312F, U+31A0-31BF, U+3040-309F, U+30A0-30FF, U+31F0-31FF, U+AC00-D7AF, U+1100-11FF, U+3130-318F, U+1D300-1D35F, U+4DC0-4DFF, U+A000-A48F, U+A490-A4CF, U+2800-28FF, U+3200-32FF, U+3300-33FF, U+2700-27BF, U+2600-26FF, U+FE10-FE1F, U+FE30-FE4F;

Standard CJK unicode-range
unicode-range: U+3400-4DB5, U+4E00-9FA5, U+9FA6-9FBB, U+F900-FA2D, U+FA30-FA6A, U+FA70-FAD9, U+20000-2A6D6, U+2F800-2FA1D, U+FF00-FFEF, U+2E80-2EFF, U+3000-303F, U+31C0-31EF

Chinese unicode-range
unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007

*/

/* 标准字体 */

@font-face
{
  font-family: serif; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: Serif; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: sans-serif;
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: Sans-Serif; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: monospace; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: Monospace; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: standard; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: Standard; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: -webkit-standard; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

/* 英文 衬线 */

@font-face
{
  font-family: 'Source Serif Pro'; 
  src: local('Advocate Ancient Serif');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: Times; 
  src: local(Times), local('Source Serif Pro');
}

@font-face
{
  font-family: Times; 
  src: local('Advocate Ancient Serif');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'Times New Roman'; 
  src: local('Times New Roman'), local('Source Serif Pro');
}

@font-face
{
  font-family: 'Times New Roman'; 
  src: local('Advocate Ancient Serif');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

/* 英文 无衬线 */

@font-face
{
  font-family: -apple-system; 
  src: local('Source Sans Pro');
}

@font-face
{
  font-family: -apple-system; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'Source Sans Pro'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: Helvetica; 
  src: local(Helvetica), local('Source Sans Pro');
}

@font-face
{
  font-family: Helvetica; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'helvetica neue'; 
  src: local('helvetica neue'), local('Source Sans Pro');
}

@font-face
{
  font-family: 'helvetica neue'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'Helvetica Neue'; 
  src: local('Helvetica Neue'), local('Source Sans Pro');
}

@font-face
{
  font-family: 'Helvetica Neue'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'lucida grande'; 
  src: local('lucida grande'), local('Source Sans Pro');
}

@font-face
{
  font-family: 'lucida grande'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'Lucida Grande'; 
  src: local('Lucida Grande'), local('Source Sans Pro');
}

@font-face
{
  font-family: 'Lucida Grande'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'Open Sans'; 
  src: local('Open Sans'), local('Source Sans Pro');
}

@font-face
{
  font-family: 'Open Sans'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'Segoe UI'; 
  src: local('Segoe UI'), local('Source Sans Pro');
}

@font-face
{
  font-family: 'Segoe UI'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'Source Sans Pro'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: Tahoma; 
  src: local(Tahoma), local('Source Sans Pro');
}

@font-face
{
  font-family: Tahoma; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: Verdana; 
  src: local(Verdana), local('Source Sans Pro');
}

@font-face
{
  font-family: Verdana; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

/* 简体中文 宋体（衬线） */

@font-face
{
  font-family: simsun; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: Simsun; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: 宋体; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: '宋体'; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: 宋體; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: '宋體'; 
  src: local('Advocate Ancient Serif');
}

/* 简体中文 黑体（无衬线） */

@font-face
{
  font-family: 'Heiti SC'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: 'Hiragino Sans GB'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: 'Microsoft Yahei'; 
  src: local('Advocate Ancient Sans'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: 'Microsoft YaHei'; 
  src: local('Advocate Ancient Sans'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: 'Microsoft YaHei UI'; 
  src: local('Advocate Ancient Sans'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: 'PingFang SC'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('Source Han Sans SC');
}

@font-face
{
  font-family: simhei; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: Simhei; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: STHeiti; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: 'WenQuanYi Micro Hei'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: 黑体; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: '黑体'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: 华文黑体; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: '华文黑体'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

/* 繁体中文 宋体（衬线） */

@font-face
{
  font-family: PMingLiU; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: 新细明体; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: '新细明体'; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: 新細明體; 
  src: local('Advocate Ancient Serif');
}

@font-face
{
  font-family: '新細明體'; 
  src: local('Advocate Ancient Serif');
}

/* 繁体中文 黑体（无衬线） */

@font-face
{
  font-family: 'Microsoft Jhenghei'; 
  src: local('Advocate Ancient Sans'), local('PingFang TC'), local('Source Han Sans TW');
}

@font-face
{
  font-family: 'Microsoft JhengHei'; 
  src: local('Advocate Ancient Sans'), local('PingFang TC'), local('Source Han Sans TW');
}

@font-face
{
  font-family: 'Microsoft JhengHei UI'; 
  src: local('Advocate Ancient Sans'), local('PingFang TC'), local('Source Han Sans TW');
}

@font-face
{
  font-family: 'PingFang HK'; 
  src: local('Advocate Ancient Sans'), local('Microsoft JhengHei'), local('Source Han Sans HK');
}

@font-face
{
  font-family: 'PingFang TC'; 
  src: local('Advocate Ancient Sans'), local('Microsoft JhengHei'), local('Source Han Sans TW');
}

/* 日文 宋体（衬线） */

@font-face
{
  font-family: 'Yu Mincho'; 
  src: local('Advocate Ancient Serif');
}

/* 日文 黑体（无衬线） */

@font-face
{
  font-family: 'Hiragino Sans'; 
  src: local('Advocate Ancient Sans'), local('Yu Gothic'), local('Hiragino Kaku Gothic Pro'), local('Source Han Sans JP');
}

@font-face
{
  font-family: Meiryo;
  src: local('Advocate Ancient Sans'), local('Yu Gothic'), local('Hiragino Kaku Gothic Pro'), local('Source Han Sans JP');
}

@font-face
{
  font-family: 'Meiryo';
  src: local('Advocate Ancient Sans'), local('Yu Gothic'), local('Hiragino Kaku Gothic Pro'), local('Source Han Sans JP');
}

@font-face
{
  font-family: 'Meiryo UI'; 
  src: local('Advocate Ancient Sans'), local('Yu Gothic UI'), local('Hiragino Kaku Gothic Pro'), local('Source Han Sans JP');
}

@font-face
{
  font-family: 'MS PGothic';
  src: local('Advocate Ancient Sans'), local('Yu Gothic'), local('Hiragino Kaku Gothic Pro'), local('Source Han Sans JP');
}

@font-face
{
  font-family: 'ＭＳ Ｐゴシック';
  src: local('Advocate Ancient Sans'), local('Yu Gothic'), local('Hiragino Kaku Gothic Pro'), local('Source Han Sans JP');
}

@font-face
{
  font-family: 'Yu Gothic'; 
  src: local('Advocate Ancient Sans'), local('Hiragino Kaku Gothic Pro'), local('Source Han Sans JP');
}

@font-face
{
  font-family: 'Yu Gothic UI'; 
  src: local('Advocate Ancient Sans'), local('Hiragino Kaku Gothic Pro'), local('Source Han Sans JP');
}

@font-face
{
  font-family: 'ヒラギノ角ゴ Pro';
  src: local('Advocate Ancient Sans'), local('Yu Gothic'), local('Source Han Sans JP');
}

/* 等宽 */

@font-face
{
  font-family: Consolas; 
  src: local(Consolas), local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: Consolas; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: Courier; 
  src: local(Courier), local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: Courier; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'Courier New'; 
  src: local('Courier New'), local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: 'Courier New'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: FantasqueSansMonoRegular; 
  src: local(FantasqueSansMonoRegular), local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: FantasqueSansMonoRegular; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'lucida console'; 
  src: local('lucida console'), local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: 'lucida console'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: 'Lucida Console'; 
  src: local('Lucida Console'), local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: 'Lucida Console'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
  unicode-range: U+4E00-9FA5, U+9FA6-9FEF, U+3400-4DB5, U+20000-2A6D6, U+2A700-2B734, U+2B740-2B81D, U+2B820-2CEA1, U+2CEB0-2EBE0, U+2F00-2FD5, U+2E80-2EF3, U+F900-FAD9, U+2F800-2FA1D, U+E815-E86F, U+E400-E5E8, U+E600-E6CF, U+31C0-31E3, U+2FF0-2FFB, U+3105-312F, U+31A0-31BA, U+3007; 
}

@font-face
{
  font-family: MingLiU; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: MingLiU-ExtB; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: MingLiU_HKSCS; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: MingLiU_HKSCS-ExtB; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: nsimsun; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: NSimsun; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: 细明体; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: '细明体'; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: 細明體; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: '細明體'; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: 新宋体; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: '新宋体'; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: 新宋體; 
  src: local('Sarasa Mono CL Nerd Font');
}

@font-face
{
  font-family: '新宋體'; 
  src: local('Sarasa Mono CL Nerd Font');
}

/* 特殊 */

@font-face
{
  font-family: 瀹嬩綋; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

@font-face
{
  font-family: '瀹嬩綋'; 
  src: local('Advocate Ancient Sans'), local('Microsoft YaHei'), local('PingFang SC'), local('Source Han Sans SC');
}

/* 元素修改 */
/*
textarea
{
  font-family: 'Sarasa Mono CL Nerd Font'; 
}
*/
