AutoHotkey/Test/Test.exe
.DS_Store

# Swift
SizerSwift/.build/
SizerSwift/build/

# SizerWin
SizerWin/SizerWin.exe
SizerWin/SizerWin_new.exe
SizerWin/*.obj
SizerWin/*.res
SizerWin/SizerWin.ini

# CapsLockOSD
CapsLockOSD/CapsLockOSD.exe
CapsLockOSD/*.obj
CapsLockOSD/*.res
