.statusbar-item.left.statusbar-entry
{
  font-family : 'Microsoft YaHei UI';
}
.section.recent
{
  font-family : 'Microsoft YaHei UI';
}
div.section.recent
{
  font-family : 'Microsoft YaHei UI';
}