@font-face { font-family: NSimsun; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: MingLiU; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: MingLiU-ExtB; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: MingLiU_HKSCS; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: MingLiU_HKSCS-ExtB; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: PMingLiU; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: PMingLiU-ExtB; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: Simhei; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: Simsun; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: simsun Arial; unicode-range: U+2E80-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: STHeiti; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: 宋体; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: 宋體; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: 新宋体; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: 瀹嬩綋; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: 黑体; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: 細明體; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: 新細明體; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: 细明体; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: 新细明体; unicode-range: U+0-FFFF; src: local(PingFang SC), local(PingFang TC); }

@font-face { font-family: monospace; unicode-range: U+0-FFFF; src: local(Inziu Iosevka SC); }
@font-face { font-family: sans-serif; unicode-range: U+0-2E7F; src: local(SF UI Text); }
@font-face { font-family: sans-serif; unicode-range: U+2E80-FFFF; src: local(PingFang SC), local(PingFang TC); }
@font-face { font-family: serif; unicode-range: U+0-2E7F; src: local(SF UI Text); }
@font-face { font-family: serif; unicode-range: U+2E80-FFFF; src: local(PingFang SC), local(PingFang TC); }
