#context-back image,
#context-forward image,
#context-reload image,
#context-stop image,
#context-bookmarkpage image
{
   display:none !important;
}

#context-back:before,
#context-forward:before,
#context-reload:before,
#context-stop:before,
#context-bookmarkpage:before
{
   content: attr(aria-label) !important;
   -moz-margin-start:21px !important;
}
#context-navigation
{
   -moz-box-orient: vertical !important;
}
#context-navigation > .menuitem-iconic 
{
  -moz-box-pack: start !important;
}
#context-sep-navigation
{
    -moz-margin-start: 0px !important;
}
.tabbrowser-tab
{
    height: 26px !important;
}

*
{
    font-family: "SF UI Display", "PingFang SC", "PingFang TC" !important;
}
