@namespace url(http://www.w3.org/1999/xhtml);
@-moz-document url-prefix(http://), url-prefix(https://), url-prefix(ftp://)
{
    [lang=zh-CN] { font-family: "Microsoft YaHei UI", sans-serif;}
    [lang=zh-TW] { font-family: "Microsoft JhengHei UI", sans-serif; }
    [lang=zh-HK] { font-family: "Microsoft JhengHei UI", sans-serif; }
    [lang=ja-JP] { font-family: "Yu Gothic UI", sans-serif; }
    [lang=ko-KR] { font-family: "Malgun Gothic", sans-serif; }

    @font-face { font-family: Arial; unicode-range: U+0-2E7F; src: local(Arial); }
    @font-face { font-family: Arial; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Consolas; unicode-range: U+0-2E7F; src: local(Consolas); }
    @font-face { font-family: Consolas; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Courier New; unicode-range: U+0-2E7F; src: local(Courier New); }
    @font-face { font-family: Courier New; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Georgia; unicode-range: U+0-2E7F; src: local(Georgia); }
    @font-face { font-family: Georgia; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Helvetica; unicode-range: U+0-2E7F; src: local(Helvetica); }
    @font-face { font-family: Helvetica; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Inconsolata; unicode-range: U+0-2E7F; src: local(Inconsolata); }
    @font-face { font-family: Inconsolata; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Linux Libertine; unicode-range: U+0-2E7F; src: local(Linux Libertine); }
    @font-face { font-family: Linux Libertine; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Meiryo; unicode-range: U+0-FFFF; src: local(Yu Gothic UI); }
    @font-face { font-family: Menlo; unicode-range: U+0-2E7F; src: local(Monaco); }
    @font-face { font-family: Menlo; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Microsoft JhengHei; unicode-range: U+0-FFFF; src: local(Microsoft JhengHei UI); }
    @font-face { font-family: Microsoft YaHei; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI); }
    @font-face { font-family: MingLiU; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: MingLiU-ExtB; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: MingLiU_HKSCS; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: MingLiU_HKSCS-ExtB; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Monaco; unicode-range: U+0-2E7F; src: local(Monaco); }
    @font-face { font-family: Monaco; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: ＭＳ Ｐゴシック; unicode-range: U+0-FFFF; src: local(Yu Gothic UI); }
    @font-face { font-family: Noto Serif; unicode-range: U+0-2E7F; src: local(Noto Serif); }
    @font-face { font-family: Noto Serif; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: NSimsun; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: PMingLiU; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: PMingLiU-ExtB; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Roboto; unicode-range: U+0-2E7F; src: local(Roboto Slab); }
    @font-face { font-family: Roboto; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Roboto Slab; unicode-range: U+0-2E7F; src: local(Roboto Slab); }
    @font-face { font-family: Roboto Slab; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Simhei; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Simsun; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: simsun Arial; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: STHeiti; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Times; unicode-range: U+0-2E7F; src: local(Times); }
    @font-face { font-family: Times; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Times New Roman; unicode-range: U+0-2E7F; src: local(Times New Roman); }
    @font-face { font-family: Times New Roman; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Trebuchet MS; unicode-range: U+0-2E7F; src: local(Trebuchet MS); }
    @font-face { font-family: Trebuchet MS; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: Verdana; unicode-range: U+0-2E7F; src: local(Verdana); }
    @font-face { font-family: Verdana; unicode-range: U+2E80-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: 宋体; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: 宋體; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: 新宋体; unicode-range: U+0-FFFF; src: local(Inziu Iosevka SC); }
    @font-face { font-family: 瀹嬩綋; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: 黑体; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: 細明體; unicode-range: U+0-FFFF; src: local(Microsoft JhengHei UI); }
    @font-face { font-family: 新細明體; unicode-range: U+0-FFFF; src: local(Inziu Iosevka TC); }
    @font-face { font-family: 细明体; unicode-range: U+0-FFFF; src: local(Microsoft JhengHei UI); }
    @font-face { font-family: 新细明体; unicode-range: U+0-FFFF; src: local(Inziu Iosevka TC); }
    @font-face { font-family: メイリオ; unicode-range: U+0-FFFF; src: local(Yu Gothic UI); }

    @font-face { font-family: monospace; unicode-range: U+0-FFFF; src: local(Inziu Iosevka SC); }
    @font-face { font-family: serif; unicode-range: U+0-2E7F; src: local(Segoe UI); }
    @font-face { font-family: serif; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: sans-serif; unicode-range: U+0-2E7F; src: local(Segoe UI); }
    @font-face { font-family: sans-serif; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
    @font-face { font-family: -webkit-standard; unicode-range: U+0-2E7F; src: local(Segoe UI); }
    @font-face { font-family: -webkit-standard; unicode-range: U+0-FFFF; src: local(Microsoft YaHei UI), local(Microsoft JhengHei UI); }
}