/* 根据语言设置 */
[lang=zh-CN] { font-family: "PingFangSC", sans-serif; }
[lang=zh-TW] { font-family: "PingFangTC", sans-serif; }
[lang=zh-HK] { font-family: "PingFangHK", sans-serif; }
[lang=ja-JP] { font-family: "Hiragino Kaku Gothic ProN", sans-serif; }
[lang=ko-KR] { font-family: "Apple Gothic", sans-serif; }

/* 标准字体 */
@font-face { font-family: monospace; unicode-range: U+0-FFFF; src: local('Inziu Iosevka SC'); }
@font-face { font-family: serif; unicode-range: U+0-2E7F; src: local('SF UI Text'); }
@font-face { font-family: serif; unicode-range: U+0-FFFF; src: local('PingFangSC'); }
@font-face { font-family: sans-serif; unicode-range: U+0-2E7F; src: local('SF UI Text'); }
@font-face { font-family: sans-serif; unicode-range: U+0-FFFF; src: local('PingFangSC'); }
@font-face { font-family: -webkit-standard; unicode-range: U+0-2E7F; src: local('SF UI Text'); }
@font-face { font-family: -webkit-standard; unicode-range: U+0-FFFF; src: local('PingFangSC'); }

/* 英文 */
@font-face { font-family: Arial; unicode-range: U+0-2E7F; src: local(Arial); }
@font-face { font-family: Arial; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: Consolas; unicode-range: U+0-2E7F; src: local(Consolas); }
@font-face { font-family: Consolas; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: Courier; unicode-range: U+0-2E7F; src: local(Courier); }
@font-face { font-family: Courier; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 'Courier New'; unicode-range: U+0-2E7F; src: local('Courier New'); }
@font-face { font-family: 'Courier New'; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: Helvetica; unicode-range: U+0-2E7F; src: local(Helvetica); }
@font-face { font-family: Helvetica; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 'Open Sans'; unicode-range: U+0-2E7F; src: local('Open Sans'); }
@font-face { font-family: 'Open Sans'; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 'Segoe UI'; unicode-range: U+0-2E7F; src: local('SF UI Text'); }
@font-face { font-family: 'Segoe UI'; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 'Lucida Console'; unicode-range: U+0-FFFF; src: local('Inziu Iosevka SC'); }
@font-face { font-family: Tahoma; unicode-range: U+0-2E7F; src: local(Tahoma); }
@font-face { font-family: Tahoma; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: Times; unicode-range: U+0-2E7F; src: local(Times); }
@font-face { font-family: Times; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 'Times New Roman'; unicode-range: U+0-2E7F; src: local('Times New Roman'); }
@font-face { font-family: 'Times New Roman'; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: Verdana; unicode-range: U+0-2E7F; src: local(Verdana); }
@font-face { font-family: Verdana; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }

/* 简体中文 */
@font-face { font-family: 'Microsoft Jhenghei'; unicode-range: U+0-2E7F; src: local('PingFangTC'); }
@font-face { font-family: 'Microsoft Yahei'; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 'Microsoft JhengHei'; unicode-range: U+0-2E7F; src: local('PingFangTC'); }
@font-face { font-family: 'Microsoft YaHei'; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 'Microsoft Jhenghei Light'; unicode-range: U+0-2E7F; src: local('PingFangTC-Light'); }
@font-face { font-family: 'Microsoft Yahei Light'; unicode-range: U+2E80-FFFF; src: local('PingFangSC-Light'); }
@font-face { font-family: 'Microsoft JhengHei Light'; unicode-range: U+0-2E7F; src: local('PingFangTC-Light'); }
@font-face { font-family: 'Microsoft YaHei Light'; unicode-range: U+2E80-FFFF; src: local('PingFangSC-Light'); }
@font-face { font-family: 'Microsoft Jhenghei UI'; unicode-range: U+0-2E7F; src: local('PingFangTC'); }
@font-face { font-family: 'Microsoft Yahei UI'; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 'Microsoft JhengHei UI'; unicode-range: U+0-2E7F; src: local('PingFangTC'); }
@font-face { font-family: 'Microsoft YaHei UI'; unicode-range: U+2E80-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 'Microsoft Jhenghei UI Light'; unicode-range: U+0-2E7F; src: local('PingFangTC-Light'); }
@font-face { font-family: 'Microsoft Yahei UI Light'; unicode-range: U+2E80-FFFF; src: local('PingFangSC_Light'); }
@font-face { font-family: 'Microsoft JhengHei UI Light'; unicode-range: U+0-2E7F; src: local('PingFangTC-Light'); }
@font-face { font-family: 'Microsoft YaHei UI Light'; unicode-range: U+2E80-FFFF; src: local('PingFangSC-Light'); }
@font-face { font-family: NSimsun; unicode-range: U+0-FFFF; src: local('Inziu Iosevka SC'); }
@font-face { font-family: Simhei; unicode-range: U+0-FFFF; src: local('PingFangSC'); }
@font-face { font-family: Simsun; unicode-range: U+0-FFFF; src: local('PingFangSC'); }
@font-face { font-family: STHeiti; unicode-range: U+0-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 黑体; unicode-range: U+0-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 华文黑体; unicode-range: U+0-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 宋体; unicode-range: U+0-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 宋體; unicode-range: U+0-FFFF; src: local('PingFangSC'); }
@font-face { font-family: 新宋体; unicode-range: U+0-FFFF; src: local('Inziu Iosevka SC'); }
@font-face { font-family: 新宋體; unicode-range: U+0-FFFF; src: local('Inziu Iosevka SC'); }

/* 繁体中文 */
@font-face { font-family: MingLiU; unicode-range: U+0-FFFF; src: local('Inziu Iosevka TC'); }
@font-face { font-family: MingLiU-ExtB; unicode-range: U+0-FFFF; src: local('Inziu Iosevka TC'); }
@font-face { font-family: MingLiU_HKSCS; unicode-range: U+0-FFFF; src: local('Inziu Iosevka TC'); }
@font-face { font-family: MingLiU_HKSCS-ExtB; unicode-range: U+0-FFFF; src: local('Inziu Iosevka TC'); }
@font-face { font-family: PMingLiU; unicode-range: U+0-FFFF; src: local('PingFangTC'); }
@font-face { font-family: PMingLiU-ExtB; unicode-range: U+0-FFFF; src: local('PingFangTC'); }
@font-face { font-family: 细明体; unicode-range: U+0-FFFF; src: local('Inziu Iosevka TC'); }
@font-face { font-family: 細明體; unicode-range: U+0-FFFF; src: local('Inziu Iosevka TC'); }
@font-face { font-family: 新细明体; unicode-range: U+0-FFFF; src: local('PingFangTC'); }
@font-face { font-family: 新細明體; unicode-range: U+0-FFFF; src: local('PingFangTC'); }

/* 特殊 */
@font-face { font-family: 瀹嬩綋; unicode-range: U+0-FFFF; src: local('PingFangSC'); }